* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(jungleBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
}

.start-game {
    height: 60px;
    width: 120px;
    color: white;
    background-color: black;
    font-size: 15px;
    margin-left: 50px;
    margin: 2px 0 2px 0;
}
a {
    font-size: 1.5rem;
    text-decoration: underline;
    color: rgb(231, 235, 8);
}
p {
    font-size: 1.5rem;
    color: white;
    background-color: rgb(208, 152, 84);
    border-radius: 10px;
    text-align: justify;
    padding: 20px 10px 0 10px;
}

.pic {
    margin-left: 33%;
    margin-top: 100px;
}
.time-score {
    padding: 5px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(231, 235, 8);
}

.board {
    width: 606px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.boardBox {
    height: 200px;
    width: 200px;
    border: 1px solid red;
    background-color: rgb(208, 152, 84);
}

.mole {
    background-image: url(cartoon_mole.png);
    background-size: cover;
}
#header {
    width: 605px;
    height: 40px;
    text-align: center;
    padding-top: 5px;
    color: rgb(242, 241, 232);
}

.hero {
    background-color: rgb(67, 67, 151);
    border-radius: 10px;
    text-align: center;
    width: 605px;
    padding: 10px;
    height: 140px;
    margin-bottom: 20px;
}

@media screen and (max-width: 629px) {
    body {
        background-image: url(jungleBackground.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }

    a {
        font-size: 1.5rem;
        text-decoration: underline;
        color: rgb(231, 235, 8);
    }
    p {
        font-size: 1.5rem;
        background-color: rgb(208, 152, 84);
        border-radius: 10px;
        text-align: justify;
        padding: 20px 10px 0 10px;
    }

    .pic {
        margin-left: 15%;
        margin-top: 60px;
    }

    .start-game {
        height: 40px;
        width: 100px;
        color: white;
        background-color: black;
        font-size: 15px;
        margin-left: 50px;
        margin: 2px 0 2px 0;
    }

    .time-score {
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: rgb(231, 235, 8);
    }

    .board {
        width: 303px;
        height: 303px;
        display: flex;
        flex-wrap: wrap;
    }

    .boardBox {
        height: 101px;
        width: 99px;
        border: 1px solid red;
        background-color: rgb(208, 152, 84);
    }

    .mole {
        background-image: url(cartoon_mole.png);
        background-size: cover;
    }
    #header {
        width: 403px;
        height: 40px;
        text-align: center;
        padding-top: 5px;
        color: rgb(242, 241, 232);
    }

    .hero {
        background-color: rgb(67, 67, 151);
        border-radius: 10px;
        text-align: center;
        width: 403px;
        margin-bottom: 20px;
    }
}
