body {
    background-image: url(../Images/GameImages/jungleBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.mole {
    background-image: url(../Images/GameImages/cartoon_mole.png);
    background-size: cover;
}
.board {
    width: 403px;
    height: 403px;
    display: flex;
    flex-wrap: wrap;
}

.boardBox {
    height: 132px;
    width: 132px;
    border: 1px solid red;
    background-color: rgb(208, 152, 84);
}

.time-score {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(231, 235, 8);
}

#header {
    width: 403px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
    background-color: rgb(67, 67, 151);
}

.start-game {
    height: 40px;
    width: 100px;
    color: rgb(231, 235, 8);
    background-color: rgb(67, 67, 151);
    font-size: 15px;
    margin-left: 10px 0 0 20px;
}